h1{

	color: red;
}



h2{
	border: 5px dotted red;
}



.head1{
    border: 50px dotted red;
	background-color:blueviolet ;
}

.border-black{

border:5px dashed black;
}



ul{
 

	display: inline-block;

	list-style-type: square;

color: red;


border: 500px;

}

th{
color: red;




}


.map{
	width: 100%;
    height: 450px;


}

.video{

	width: 49%;
    height: 450px;

display: inline-block;

}

.video{

	width: 49%;
    height: 400;
  display: inline-block;


}



ol{



	display: inline-block
}


.blue{

color: whitesmoke;

background: black;

}


.center{

	text-align: center;
   
   margin: 40px 580px;
   display: inline-block;
 
   padding: 1px 50px;

    border: 5px dashed blueviolet;
}

.div{
   margin: 15px 699px;
   
}



.images{

border: 5px dotted black;

margin: 15px 500px;

}




.name{
	
text-align: center;
}






















